.exhibits-index
{
    position: relative;
    text-align: center;
	width: 100%;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	overflow: hidden;
}

.index-title
{
    color: #cfcfcf;
}

.top-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, transparent 10%, white 50%, transparent 75%);
    border-image-slice: 1;
}
.top-container p
{
    min-height: 50vh;
    border-right: 2px solid transparent;
    border-image: linear-gradient(to bottom, transparent 5%, white 50%, transparent 95%);
    border-image-slice: 1;
}

.index-synopsis
{
    color: #cfcfcf;
    text-align: left;
    padding: 20px;
    margin: 0;
}

.catalog-nav-container
{
    box-sizing: border-box;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 20px;
}

.catalog-nav-header
{
    width: 100%;
    text-decoration: none;
    color: #cfcfcf;
    padding: 0;
    padding-bottom: 20px;
    background: radial-gradient(ellipse at center, rgba(20, 20, 20, 0.5) 0%, rgba(0, 0, 0, 0) 70%);
}
.catalog-nav-header h1
{
    font-family: 'Inconsolata', monospace;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    filter: brightness(120%);
    font-size: 1.6em;
    margin: 0px;
    margin-bottom: 3px;
}

.catalog-navigation
{
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(20, 20, 20, 0.5) 0%, rgba(0, 0, 0, 0) 70%);
    padding: 0;
}
.catalog-navigation ul
{
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
/*.catalog-navigation li
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}*/
.catalog-navigation a
{
    text-decoration: none;
    color: #cfcfcf;
    display: flex;
    flex-direction: row;
}
.catalog-navigation a h1
{
    font-family: 'Inconsolata', monospace;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    filter: brightness(120%);
    font-size: 1.5em;
    margin: 0px;
    margin-bottom: 5px;
    margin-right: 10px;
}
.catalog-navigation a i
{
    margin: 0;
    padding: 0;
}

.index-nav-header
{
    text-decoration: none;
    color: #cfcfcf;
    padding: 10px;
    padding-bottom: 5px;
    background: radial-gradient(ellipse at center, rgba(20, 20, 20, 0.5) 0%, rgba(0, 0, 0, 0) 70%);
}
.index-nav-header h1
{
    font-family: 'Inconsolata', monospace;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    filter: brightness(120%);
    font-size: 1.6em;
    margin: 0px;
    margin-bottom: 3px;
}

.index-navigation
{
    min-width: 80vw;
    background: radial-gradient(ellipse at center, rgba(20, 20, 20, 0.5) 0%, rgba(0, 0, 0, 0) 70%);
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
}
.index-navigation ul
{
	list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}
.index-navigation li
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.index-navigation a
{
	text-decoration: none;
    color: #cfcfcf;
}
.index-navigation a h1
{
    font-family: 'Inconsolata', monospace;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    filter: brightness(120%);
    font-size: 1.5em;
    margin: 0px;
    margin-bottom: 3px;
}

@media(max-width: 750px)
{
    .top-container
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid transparent;
        border-image: linear-gradient(to right, transparent 10%, white 50%, transparent 90%);
        border-image-slice: 1;
    }
    .top-container p
    {
        min-height: auto;
        border-bottom: 2px solid transparent;
        border-image: linear-gradient(to right, transparent 10%, white 50%, transparent 90%);
        border-image-slice: 1;
    }

    .catalog-nav-container
    {
        box-sizing: border-box;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 20px;
    }

    .catalog-navigation ul
    {
        height: 100%;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 0;
        padding: 0;
    }

    .index-navigation a h1
    {
        font-size: 1.2em;
    }
}